{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Wars</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
    <h1>Canvas wars</h1>
    <canvas id="pixelCanvas" width="100" height="100"></canvas>
    <script>
        const canvas = document.getElementById('pixelCanvas');

        // Generate random color
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        canvas.style.backgroundColor = "#eee";
        const boundingRect = canvas.getBoundingClientRect();
        const canvasCtx = canvas.getContext("2d");
        // canvasCtx.scale(10, 10); Bronked
        canvasCtx.fillStyle = getRandomColor();

        function paintRandomColorInPixel(event) {
            const x = event.x - boundingRect.left;
            const y = event.y - boundingRect.top;
            canvasCtx.fillRect(x, y, 1, 1);
            canvasCtx.fillStyle = getRandomColor();
        }

        canvas.addEventListener("click", (e) => {
            console.log("x: " + e.x);
            console.log("y: " + e.y);

            paintRandomColorInPixel(e);
        })
    </script>
</body>

</html>
{{ end }}
