{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Wars</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
    <div style="display:flex; flex-direction:row">
        <div>
            <canvas id="pixelCanvas" width="500" height="500"></canvas>
        </div>
        <div style="display:flex; flex-direction:column; margin-left:10px;">
            <form style="display:flex; flex-direction: column;">
                <label for="xCord">x-kord</label>
                <input id="xCord" name="xCord" type="text" value="0" disabled />

                <label for="yCord">y-kord</label>
                <input id="yCord" name="yCord" type="text" value="0" disabled />
            </form>
        </div>
    </div>
    <script>
        const canvas = document.getElementById("pixelCanvas");
        const xCord = document.getElementById("xCord");
        const yCord = document.getElementById("yCord");

        const SQUARE_WIDTH = 10;
        const SQUARE_HEIGHT = 10;

        const TOTAL_WIDTH = 500;
        const TOTAL_HEIGHT = 500;

        // Generate random color
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        canvas.style.backgroundColor = "#eee";
        const boundingRect = canvas.getBoundingClientRect();
        const canvasCtx = canvas.getContext("2d");
        canvasCtx.fillStyle = getRandomColor();

        function paintRandomColorInPixel(event) {
            const x = event.x - boundingRect.left;
            const y = event.y - boundingRect.top;
            canvasCtx.fillRect(x, y, 1, 1);
            canvasCtx.fillStyle = getRandomColor();
        }

        function paintLines() {
            for (let i = 0; i < TOTAL_WIDTH; i += SQUARE_WIDTH) {
                for (let j = 0; j < TOTAL_HEIGHT; j += SQUARE_HEIGHT) {
                    canvasCtx.fillRect(i, j, SQUARE_HEIGHT, SQUARE_WIDTH)
                    canvasCtx.fillStyle = getRandomColor();
                }
            }
        }

        function paintSquares() {
            for (let i = 0; i < TOTAL_WIDTH; i += SQUARE_WIDTH) {
                for (let j = 0; j < TOTAL_HEIGHT; j += SQUARE_HEIGHT) {
                    canvasCtx.fillRect(i, j, SQUARE_HEIGHT, SQUARE_WIDTH)
                    canvasCtx.fillStyle = getRandomColor();
                }
            }
        }

        function paintSquare(xSquare, ySquare) {
            canvasCtx.fillRect(xSquare * 10, ySquare * 10, SQUARE_HEIGHT, SQUARE_WIDTH);
            canvasCtx.fillStyle = getRandomColor();
        }

        canvas.addEventListener("click", (e) => {
            console.log("x: " + e.x);
            console.log("y: " + e.y);

            xCord.value = e.x;
            yCord.value = e.y;

            const xSquare = parseInt(e.x / SQUARE_WIDTH);
            const ySquare = parseInt(e.y / SQUARE_HEIGHT);

            paintRandomColorInPixel(e);
            paintSquare(xSquare, ySquare);
        })

        // paintSquares();
    </script>
</body>

</html>
{{ end }}
