body {
    background: white;
}

#pixelCanvas {
    display: grid;
    grid-template-columns: repeat(10, 5px);
    grid-template-rows: repeat(10, 5px);
    gap: 1px;
    background: #eee;
    padding: 10px;
    width: fit-content;
}

.pixel {
    width: 5px;
    height: 5px;
}
